
body{
font-size: 16px;
font-family: 'Lato', sans-serif;
background-color: #FFFFFF ;

}
ul{
    background: white;
    list-style: none;
}
ul:hover{
    background: bisque;
}
header a{
    text-decoration: none;
    color: black;
}


.header{
    
    display: inline-block;
   

}

.header h1{
    font-size: 2rem;
    line-height: 100px;
   
}
.header li{
    display: inline-block ;
                                                                                              
 
    
}
.divSneak{
    background: #DADADA;
    border-color: black;
    font-size: 3ren;
}
.Ul-list1{
    position: relative;
    left: 780px;
    width: 550px;
    top: 17px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    display: inline-block;
}

.list{
  
    margin-left: 27px;
    display: inline-block;

}
.search-input{
    font-weight: 235px;
    height: 52px;
    border-radius: 50px;
}
.div-search{
    position: relative;
    left: 1515px;
    top: -25px;
    width: 250px;
}
.header-input{
    background-image: url('../img/Search.svg');
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: 16px;
    width: 235px;
    height: 52px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
}   
.teste{
    background-image: url('../img/carrinho.png');
    background-repeat: no-repeat;
    background-position-y: 16px;
    background-position-x: 16px;
    position: relative;
    left: 1800px;
    top: -80px;
    height: 52px;
    width: 52px;
    background-color: #f2f2f2;
    border-radius: 50px; 
}
.section-div{
    display: inline-block;
}
.section-h2{
    position: relative;
    bottom: 150px;
    width: 650px;
    line-height: 155px;
    font-size: 140px;
    left: 80px;
    font-weight: 700;
    background: -webkit-linear-gradient(342deg, rgba(159,159,159) 0%, rgba(218,218,218) 35%);
    -webkit-background-clip: text;    
    -webkit-text-fill-color: transparent;  
}
.text-main{
    position: relative;
    left: 91px;
    bottom: 112px;
    font-size: 25px;
    line-height: 30px;
    width: 500px;
    font-weight: 400;
}
.main-button{
    border: 2px solid rgba(31, 31, 31, 1); 
    background-color: #fff;
    position: relative;
    height: 84px;
    width: 336px;
    left: 79px;
    top: -24px;
    border-radius: 12px;
    background-image: url("../img/tenis2.png");
    background-repeat: no-repeat;
    background-position-y: 31px;
    background-position-x: 266px;
    font-size: 20px;
}
.div-section3{

}
.sectio-two{
    margin: 0 80px; 
}
.section-leveza{
    background: -webkit-linear-gradient(7deg,rgba(159,159,159) 0%, rgba(218,218,218) 35%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 30px; 
     font-size: 64px;
     font-weight: 700;
     line-height: 64px;
     height: 70px;
     width: 581px;
}
.section-text{
    font-family: lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    height: 112px;
    width: 581px;
}
.section-img{
    position: relative;
    left: 455px;
}
.img-correndo{
    position: relative;
    height: 686px;
    width: 583px;
    left: 61px;
    top: 367px;
}
.img-perna{
    position: relative;
    height: 685px;
    width: 297px;
    left: 66px;
    top: 367px;
}
.amortecimento{
    position: relative;
    font-size: 20px;
    height: 247px;
    width: 584px;
    left: 1072px;
    bottom: 259px;

}
.espuma{
    position: relative;
    font-size: 20px;
    height: 247px;
    width: 584px;
    left: 1072px;
    bottom: 259px;
}
.sensação{
    position: relative;
    font-size: 88px;
    height: 230px;
    width: 500px;
    left: 55px;
    top: 144px;
    background: linear-gradient(270.06deg,#DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.outriger{
    position: relative;
    font-size: 28px;
    height: 257px;
    width: 734px;
    left: 56px;
    top: 160px;
}
.outriger-img{
    position: relative;
    height: 600px;
    width: 704px;
    left: 951px;
    bottom: 332px;  
}
.corra{
    background-image: url("../img/correr.png");   
    height: 720px;
    background-repeat: no-repeat;
    width: 1600px;
    left: 0px;
    top: 4240px;  
}
.corra h3{
    color: white;
    font-size: 120px
    
}



