body{
    text-decoration: none;

}
a{
    text-decoration: none;
  
}





.corra{
    font-size: 120px;
    color: white;
    background-image: url("../img/correr.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100%;
}